*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(/IMG/3.jpg);
    
}

h3 {
    background-color: #FFEDD2;
    border-bottom: 2px solid #733311;
    text-align: center;
    height: 100px;
    color: #733311;
    font-size: 70px;
}
.top-logo img{
    border-radius: 50%;
    width: 70px;
    margin-top: 15px;
    margin-left: 80px;
    position: absolute;
    z-index: 1;
}
.main-logo img{
    border-radius: 50%;
    width: 200px;
    margin-top: 40px;
    margin-left: 295px;
    position: absolute;
    border: 5px solid #FFEDD2;
    z-index: 1;
}
.box {
    z-index: 0;
    position: absolute;
    margin-left: 900px;
    margin-top: 150px;
    display: inline-block;
    
}

.option{
    font-size: xx-large;
    margin-left:205px;
    padding-bottom: 40px;
    color: #FFEDD2;
    
}
#btn1{
    background-color: #FFEDD2;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    position: absolute;
    text-align: center;
}


#btn2{
    background-color: #FFEDD2;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    position: absolute;
    margin-left:290px;
    text-align: center;
}

a img {
    width: 100px;
    margin-left: 5%;
    margin-top: 20px;
    
}
.MV{
    width: 500px;
    height: 300px;
    position: absolute;
    z-index: 3;
    background-color: #FFEDD2;
    border-radius: 5px;
    margin-top: 300px;
    margin-left: 150px;
    font-size: 23px;
    color: #733311;
    padding: 10px;
    text-align: center;
}