* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --bs-body-font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  top: 0;
  padding: 10px 10px;
}

body {
  height: 1000px;
}

/* Nav bar design and format*/
header {
  background: #FFEDD2;
  font-weight: 400;
  font-style: normal;
  color: #252525;
  border-bottom: 1px solid #733311;
  display: flex;
  align-items: center;
  padding: 2.5px;
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 75px;
  z-index: 1000;
  transition: 0.3s;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

header img {
  width: 55px; 
  height: auto;
  margin-left: -50px;
  border-radius: 50%;
  float: left;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.1);
}

header h1 {
  font-size: 18px;
  font-weight: 500;
  justify-content: left;
  margin-right: 5rem;
  padding-top: 5px;
}

nav ul {
  padding-top: 15.5px;
}
nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li:last-child {
  margin-left: auto; 
}

nav ul li a {
  color: #252525;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.2px;
  font-size: 15px;
  padding: 0 10px;
}

nav ul li a:after {
  content: "";
  position: absolute;
  background-color: #733311;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease
}

nav ul li a:hover:after {
  width: 100%;
}



/* Style The Dropdown Button */
.dropbtn {
  color: #733311;
  background-color: #FFEDD2;
  border: 2px solid #733311;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: -25px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFEDD2;
  opacity: 90%;
  filter: blur(0.10px);
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #733311;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #733311;
  color: #F4F1EC;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #733311;
  color: #FFEDD2;
  transition: 0.5s ease
}


/* Button designs for Sign up/Login option */
.btn-1 {
  text-decoration: none;
  color: #733311;
  border: 2px solid #733311;
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: -25px;
}


.btn-1:hover {
  background-color: #733311;
  color: #FFEDD2;
  transition: 0.5s ease
}

.btn-2 {
  text-decoration: none;
  color: #FFEDD2;
  background-color: #733311;
  border: 2px solid #733311;
  padding: 10px 30px;
  border-radius: 25px;
  margin-left: 15px;
  margin-right: -45px;
}


.btn-2:hover {
  border: 2px solid #733311;
  background-color: transparent;
  color: #733311;
  transition: 0.5s ease
}

.btn-3 {
  text-decoration: none;
  color: #F4F1EC;
  background-color: #733311;
  border: 2px solid #733311;
  padding: 10px 30px;
  border-radius: 25px;
  margin-left: 15px;
  margin-right: -10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}


.btn-3:hover {
  border: 2px solid #F4F1EC;
  background-color: transparent;
  filter: blur(0.5px);
  color: #F4F1EC;
  transition: 0.5s ease
}

.btn-4 {
  text-decoration: none;
  color: #FFEDD2;
  background-color: transparent;
  border: 2px solid #FFEDD2;
  filter: blur(0.5px);
  padding: 10px 30px;
  border-radius: 25px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}


.btn-4:hover {
  border: 2px solid #733311;
  background-color: #733311;
  color: #FFEDD2;
  transition: 0.5s ease
}

.toggle-menu {
  display: none;
}

/* Header Styles*/ 
section {
  padding: 50px 0;
  text-align: center;
}

section h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

section p {
  margin-bottom: 1rem;
}

/* Header Section */
#home {
  background: url('../img/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 270px 0; 
  text-align: left;
  color: #F4F1EC;
  position: relative;
}

#home::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
}

#home .container {
  margin-top: -130px;
  margin-left: 60px;
  position: relative;
  
}

#home .container img {
    width: 200px; 
    height: auto;
    border-radius: 50%;
    margin-left: 215px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    border: #FFEDD2 solid 5px;
    transition: transform 0.3s ease;
}

#home .container img:hover {
  transform: scale(1.1);
}

#home h2 {
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  color: #F1A500;
  font-weight: 700;
  text-shadow: 1px 4px #733311;
  margin-bottom: 10px;   
  
  
}
#home p {
  font-size: 18px;
  font-weight: 300;
  width: 600px;
  font-style: italic;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 40px;  
}

#learn-more {
  margin-left: 160px;
}

/* About us Section */
#about-us {
  height: 850px;
  background-color: #FFEDD2;
  
}

#about-us .container{
  text-align: center;
  
}

#about-us .container h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  color: #733311;
}

#about-us .container img {
  height: auto;
  width: 550px;
  margin-top: -500px;
  margin-left: 700px;
  
}

#about-us .container h3 {
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 20px;
}

#about-us .container p {
  max-width: 650px;
  text-indent: 30px;
  text-align: justify;
  margin-bottom: 10px;
}

#about-us .container .btn-1 {
  float: left;
  margin-left: 0;
  margin-top: 20px;
}

/* Services Section */
#services {
  background: url('../img/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 850px;
  position: relative;
}

#services::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
}

#services .container {
  position: relative;
}

#services .container h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  color: #F1A500;
}

#services .container .row {
  margin-top: 80px;
}

.card {
  position: relative;
  overflow: hidden;
  border: #F4F1EC 2px solid;
}

.card:hover {
  border: 2px solid #733311;
}

.card-body {
  padding: 30px;
  background-color: #FFEDD2;
}

.card-body h5 {
  font-weight: 600;
  color: #733311;
  margin-bottom: 15px;
}
.card-body p{
  margin-bottom: 30px;
}

.card-body a{
  margin: 0;
}


/* Featured Products (Carousel) Section */
#featured-products {
  background-color: #F4F1EC;
  height: 850px;
}

#featured-products .container h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  color: #733311;
  margin-bottom: 15px;
}

#featured-products .container p {
  max-width: 800px;
  font-size: 18px;
  margin-left: 150px;
  margin-bottom: 30px;
}

#featured-products .container .btn-1 {
  margin: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

#productCarousel {
  max-height: 500px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  
}

.carousel-control-prev, .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

/* Our Products Section */
#products {
  height: 2900px;
  background-color: #FFEDD2;
}
#products .container h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  color: #733311;
}


#products .container p {
  max-width: 650px;
  font-size: 18px;
  margin-left: 225px;
  margin-bottom: -20px;
}

#products .container a {
  color: #733311;
  font-weight: 500;
}

.product-header {
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  color: #733311;
  margin-top: 35px;
  margin-bottom: 15px;
}

#product-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 55px;
  border: #733311 2px solid;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

#view-more {
  padding: 12px 40px;
  margin-right: 20px;
}

/* Discount Section */
#discount-products {
  background-image: url('../img/1.jpg'); 
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  color: #f2f2f2;
  text-align: center;
  position: relative;
  
}

#discount-products::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
}

#discount-products .container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; 
  z-index: 1; 
}

.discount-tagline {
  font-family: "Bebas Neue", sans-serif;
  font-size: 55px;
  color: #FFEDD2;
  margin-bottom: 30px;
}

#discount-percent {
  color: #F1A500;
}

/* Contact Us Section */
#contacts {
  background-color: #FFEDD2;
  height: 800px;
}

#contacts .container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #F4F1EC;
  border-radius: 15px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
}

#contacts .container .image {
  flex: 1;
  background-image: url('../IMG/contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px 50px;
}

#contacts .container .form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

#contacts .container h2 {
  text-align: center;
  font-weight: 700;
  color: #733311;
  
}

#contacts .container form {
  display: flex;
  flex-direction: column;
}

#contacts .container label {
  text-align: left;
  margin-bottom: 5px;
  color: #733311;
}

#contacts .container input[type="text"],
 input[type="email"],
 textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
}

#contacts .container input:hover {
  border: 2px solid #733311;
  transition: 0.3s ease;
}
#contacts .container textarea {
  height: 100px;
}

#contacts .container textarea:hover {
  border: 2px solid #733311;
  transition: 0.3s ease;
}

#contacts .container button {
  padding: 10px 20px;
  text-decoration: none;
  color: #FFEDD2;
  background-color: #733311;
  border: 2px solid #733311;
  padding: 10px 30px;
  border-radius: 25px;
}

#contacts .container button:hover {
  border: 2px solid #733311;
  background-color: transparent;
  color: #733311;
  transition: 0.5s ease
}


footer {
  background: #733311;
  color: #FFEDD2;
  padding: 20px 0;
}

footer i{
  color: #FFEDD2;
  padding: 5px;
  transition: transform 0.2s ease;
}

footer i:hover {
  transform: scale(1.1);
} 
footer p {
  font-size: 14px;
  text-align: center;
  margin-left: 30px;
}

.footer-icons {
  text-align: center;
}


