form{
 
    background-color: transparent;
    backdrop-filter:blur(25px);
    color: white;
    width: 350px;
    border: 4px solid;
    border-color: rgb(171, 168, 168);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
    font-family:sans-serif;
    height: 475px;

}
input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border-radius: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}
  
button {
    background-color:rgb(74, 73, 73);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
}
h1{
    font-size: large;
    color: black;
}