*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    background-color: #FFEDD2;
    text-align: center;
    height: 100px;
    font-size: 500%;
}
.top-logo img{
    border-radius: 50%;
    width: 80px;
    margin-top: 8px;
    margin-left: 150px;
    position: absolute;
    z-index: 1;
}
.main-logo img{
    border-radius: 50%;
    width: 200px;
    margin-top: 40px;
    margin-left: 250px;
    position: absolute;
    z-index: 1;
}
.box{
    z-index: 0;
    position: absolute;
    margin-left: 1000px;
    margin-top: 150px;
    display: inline-block;
}
.option{
    font-size: xx-large;
    margin-left:205px;
    padding-bottom: 40px;
    
    
}
#btn2{
    background-color: antiquewhite;
    border: solid black;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    position: absolute;

}
#btn1{
    background-color: antiquewhite;
    border: solid black;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    position: absolute;
    margin-left:290px;
}
a img{
    width: 100px;
    padding: 10px;
    margin-left: 30%;
    margin-top: 20px;
}
.box a :hover{
    transform: scale(10px);
}

.MV{
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: 3;
    background-color:#F1A500;
    border: solid 4px black;
    border-radius: 5px;
    margin-top: 300px;
    margin-left: 150px;
    font-size: x-large;
}